# Ignore virtual environments
.venv/
venv/

# Ignore CSV files
*.csv
data/observational/coldstun/*.csv

# Ignore NetCDF and scientific data files
*.nc

# Ignore outputs and intermediate analysis folders
outputs/
slices/
png_frames/
data/sst/
data/slices_*/

# Ignore Python cache and checkpoints
__pycache__/
notebooks/.ipynb_checkpoints/

# Ignore project subfolders (if not part of repo)
../cats_ch1_project/
../dissertation_chapters/
../ciston_ch2_project/
data/observational/coldstun/*.csv
.venv/
*.csv
__pycache__/
notebooks/.ipynb_checkpoints/
../cats_ch1_project/
../dissertation_chapters/
.venv/
*.csv
__pycache__/
notebooks/.ipynb_checkpoints/
../cats_ch1_project/
../dissertation_chapters/

# Ignore output animation mp4
*.mp4
